<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styling.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">

    <div class="fluid">
        <div class="row" id="div1">

            <div class="col-sm-1">
                <img th:src="'/images/head.jpg'"  th:width="130" th:height="110">
            </div>

            <div class="col-sm-9">
                <h1 class="header" th:inline="text">    Scoala MILLENIUM</h1>
            </div>

            <div class="col-sm-2">
            <div class="row">
                <form th:action="@{/logout}" method="post">
                    <input class="sout" type="submit" value="Deconectare"/>
                </form>
            </div>

            <div class="row">
                <a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-user"></span> [[${#httpServletRequest.remoteUser}]]
                </a>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>