<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EduKID</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styling.css}" />
</head>

<body class="b01">

<h1 class="hidden">    hidden1        </h1>
<h1 class="hidden">    hidden1        </h1>
<h1>EduKID</h1>
<h2>Platforma educationala</h2>

<h1 class="hidden">    hidden1        </h1>

<div class="btn-group">

    <form th:action="@{/teacher}" th:object="${user}" method="POST">
        <input type="hidden" th:name="username" th:value="${#httpServletRequest.remoteUser}">
        <input type="submit" value="Profesor">
    </form>

    <h2 class="hidden">    hidden2        </h2>

    <form th:action="@{/student}" th:object="${user}" method="POST">
        <input type="hidden" th:name="username" th:value="${#httpServletRequest.remoteUser}">
        <input type="submit" value="Elev">
    </form>
</div>
<h1 class="hidden">    hidden1        </h1>
</body>
</html>