<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EduKID</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styling.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

<header th:insert="fragments/general.html :: header"> </header>

<table class="center table1">
    <tr>
        <td><p class="ptitle">Clasa 1 A</p></td>
    </tr>
    <tr th:each="student : ${listStudents}">
        <td th:text="${student.name}"></td>
    </tr>
</table>

</body>
</html>